.Bnr {
  position: relative;
}

.quate {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 1;
}
.Bnt {
  border-radius: 0;
  color: blue;
  background: white;
  width: fit-content;
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 1;
}
